apiVersion: batch/v1
kind: Job
metadata:
  name: hello-no-sysctl
spec:
  template:
    spec:
      containers:
      - name: hello
        image: busybox
        command: ['sh', '-c', 'echo "Hello, Kubernetes!" && sleep 3600']
      restartPolicy: OnFailure
      securityContext:
        sysctls:
        - name: net.core.somaxconn
          value: "1024"
